<div class="s-chart">
    <!--     <div class="post">
        <p>{% block description %}{% endblock %}</p>
    </div> -->

    <div class="comment"><p>{% block description_header %}{% endblock %}</p></div>

    <div id="{{ chart_name }}"></div>

    {%- if "salary" in chart_name -%}
        <div class="more" data-ctn="{{ chart_name }}-table"> <span>More..</span> </div>
        <div id="{{ chart_name }}-table" class="s-table"></div>

    {% endif %}

    <div class="comment"><p>{% block description_foot %}{% endblock %}</p></div>
    {%- if "salary" in chart_name -%}
        <br />
        <p style="text-align: center;">- - - - -</p>
    {% endif %}

    <script type="text/javascript">
        var ctObj;
        ctObj = $("#" + "{{ chart_name }}");
        var gD, cT, cF;

        $.ajax({
            type: "Get",
            //url: "{{ url_for("query") }}",
            url: "{{ url_for('static', filename='alls/js/' + chart_name + '.js') }}",
            async: false,
            dataType: "json",
            success: function (data) {
                gD = data;
                cT = (gD.c_type != null) ? gD.c_type : "bar";
                cF = (gD.c_field != null) ? gD.c_field : "count";
                createChart();
                createTable();
            }
        });
        function createChart() {
            ctObj.kendoChart({
                //renderAs: "canvas",
                //chartArea: {
                //height: 3000
                //width: 960
                //},
                title: {
                    text: gD.titlo
                },
                dataSource: {
                    data: gD.datas,
                    sort: {
                        field: cF,
                        dir: "asc"
                    }
                },
                plotArea: {
                    padding: 50
                },
                series: [{
                    type: cT,  // bar, column, pie
                    field: cF, // count // kendo-ui default: "value"
                    categoryField: "name"
                }],
                seriesDefaults: {
                    type: "bar",
                    labels: {
                        visible: true,
                        background: "transparent",
                        //template: "#= category # : #= value #"
                    }
                },

                //seriesColors: ["#3f51b5", "#03a9f4", "#4caf50", "#f9ce1d", "#ff9800", "#ff5722", "#C379D6"],
                //seriesColors: ["#fc8162", "#99c764", "#f8d561", "#60beda", "#60beda"],
                seriesColors: ["#666699", "#6699CC", "#CC6666", "#FFCC66", "#66CCCC", "#66CC66", "#666666"],
                tooltip: {
                    visible: true,
                    //template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                }
            });
        }

        function createTable() {
            if (gD.stat) {
                // ctObj.after('<div class="s-table"></div>');
                ctbObj = $("#" + "{{ chart_name }}-table");
                // ctObj.next().kendoGrid({
                ctbObj.kendoGrid({
                    dataSource: {
                        data: gD.stat,
                        sort: {
                            field: gD.stat.Median,
                            dir: "asc"
                        }
                    },
                    height: 263,
                    scrollable: {virtual: true},
                    sortable: true,
                    columns: [
                        {field: "Name", title: "名称"},
                        {field: "Median", title: "中位数"},
                        {field: "Mode[0]", title: "众数 (value/count)"}
                    ]
                });
                ctbObj.css("display", "none")
            }
        }
    </script>
</div>
