<link rel="stylesheet" href="{{ url_for('static', filename='css/kendo.common.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/kendo.default.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/kendo.default.mobile.min.css') }}"/>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/kendo.all.min.js') }}"></script>

<style>
.s-chart { margin: 15px; } .s-table { max-width: 680px;margin: 15px auto; } #center { max-width: 960px; min-width: 680px; width: 100%; margin: 0 auto; } .k-chart{max-width: 680px; margin: 0 auto} .more{text-align: right; font-size: 14px; margin: 15px 50px;} div.more > span{border-bottom: 1px dotted blue;color:#1a0dab;}
</style>
