<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>统计视图</title>
    {% include("head.html") %}
    <style>p {
        text-indent: 2em;
    }</style>
</head>
<body>
<div id="show-all-charts">
    <div id="center">
        <h2 style="text-align: center;">对拉勾网职位信息作简单分析</h2>
        <!--
                <p>中位数Median 众数Mode 平均数Average</p>
                <a href="https://zhuanlan.zhihu.com/p/20450600">参考范文一</a><br/>
                <a href="http://wentu.io/publish#0adc470e848f48fb">参考范文二</a>
                <br/>
               <p>
                点评：
                <ol>
                <li> 很多地方语义重复，累赘。</li>
                <li> 语言可以生动点，口语化一点。</li>
                <li> 可以尝试多用成语，歇后语，通俗的民间幽默语句</li>
                <li> 举例子，列数字，分类别，做比较，画图表、引用说明文，<br/>这些常见的议论文写作方法没有体现出来</li>
                <li> 每个段子的过渡不够自然，连接词没有用起来，字数起码也有每段150-400字</li>
                <li> 部分例子有联系生活是很好的，但是有些段子单谈图表脱离生活显得略显枯燥</li>
                </ol>
                </p> -->
        <p>
            对于求职攻略/方法，相信网上也有很多帖子介绍，今天给大家带来的资讯也是很工作有关的。前段时间，为了练习爬虫，根据拉勾的网公开的接口，对最新求职信息进行了捉取。由于现在对请求有所限制，爬虫因而也停止了。对于捉取的结果加以处理，以便统计和展示后，下面从数据的角度来了解一下行业和职位的情况，希望能带给各位在求职上，谈薪上的一些帮助。
        </p>

        {% include("unit_category_posts.html") %}
        {% include("unit_category_salary.html") %}

        {% include("unit_company_size_posts.html") %}
        {% include("unit_company_size_salary.html") %}

        {% include("unit_job_posts.html") %}
        {% include("unit_job_salary.html") %}

        {% include("unit_experience_posts.html") %}
        {% include("unit_experience_salary.html") %}

        {% include("unit_city_posts.html") %}
        {% include("unit_city_salary.html") %}
    </div> <br />
    <p style="text-align: right; color: gainsboro; font-size: 12px; margin: auto 20px;">
    注：以上信息为根据拉勾网约40万个岗位信息作出整理
    </p>
</div>
<script type="text/javascript">
    // 1 样式更新，固定id为charts-xxx-xxx
    // 2 历遍更新
    gA = $(".k-chart");
    for (var i = 0; i < gA.length; i++) {
        tObj = $("#" + gA[i].id).data("kendoChart");
        tO = tObj.options;
        switch (tO.series[0].type) {
            case  "pie":
                tO.seriesDefaults.labels.template = "#= category # - #= kendo.format('{0:P}', percentage)#";
                tO.tooltip.template = "#= category # - #= value #";
                break;
            case "bar":
                tO.tooltip.template = "#= category # : #= value #";
                break;
            case "column":
                tO.tooltip.template = "#= category # : #= value #";
                break;
        }
        tObj.refresh();
    }

    // Responsive Web Design
    // http://docs.telerik.com/kendo-ui/styles-and-layout/using-kendo-in-responsive-web-pages
    $(window).on("resize", function () {
        kendo.resize($(".s-chart"));
    });

    $(".more").click(function () {
        var idname = $(this).attr("data-ctn");
        ctableObj = $("#" + idname);
        if (ctableObj.is(":visible")) {
            ctableObj.css("display", "none");
            $(this).html("<span>More..</span>")
        } else {
            ctableObj.css("display", "block");
            $(this).html("<span>Collapse..</span>")
        }
    });
    // Center
    // http://www.telerik.com/forums/kendowindow-center-doesn-t-work-when-inside-an-iframe
    //$("#cps").kendoWindow({
    //    visible: false
    //}).data("kendoWindow").center().open();
</script>
</body>
</html>
